.App {
  text-align: center;
}
Table, td {
  border: 2px solid black;
}
tr:hover {
  background-color: #f5f5f5;
}
table {
  width: auto;
    position:sticky;
    top: 250px;
    right: 250px;
  border-collapse: collapse;
}
th {
  background-color: lightblue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
